@import "src/styles/scss";

.listResultsWrapper {
    padding: 0 0 60px 0;
    margin: 0;

    @include respond-below(md) {
        padding: 0;

    }

    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;

        h1,
        h2 {
            margin: 30px 0;
            @include h1Title;
            font-size: 1.8rem;

            @include respond-below(md) {
                //margin-top: 30px;
            }

            @include respond-below(sm) {
                //margin-top: 15px;
            }

        }



        span {
            text-align: center;
            display: block;
            color: $primaryColor;
            font-size: 1.1rem;
            margin: 30px 30px;

            svg {
                margin: 30px 0;
                width: 180px;
                height: auto;
            }
        }

        ul {
            display: grid;
            padding: 0 15px;
            grid-gap: 30px;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: min-content;
            list-style: none;
            margin: 0px;
            align-content: space-between;
            justify-content: space-around;
            position: relative;
            height: auto;

            @include respond-below(lg) {
                //padding: 0 15px;
                grid-template-columns: repeat(3, 1fr);
            }

            @include respond-below(md) {
                padding: 0 15px 15px 15px;
                grid-template-columns: repeat(3, 1fr);
            }

            @include respond-below(sm) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include respond-below(xs) {
                padding: 0 15px 15px 15px;
                grid-gap: 15px;
                grid-template-columns: repeat(1, 1fr);
            }


        }


        ul li {
            display: flex;
            position: relative;
            height: max-content;
            transition: all 0.2s ease-in-out;
            z-index: 5;
            position: relative;
            border-radius: $globalBorderRadiusA;
            box-shadow: $globalBoxShadowA;
            width: 100%;
            overflow: hidden;
            justify-items: center;

            a,
            .itemContent {
                color: $txtColor !important;
                background-color: #ffffff;
                color: $primaryColor;
                height: 100%;
                display: block;
                width: 100%;
                float: left;


                >div {
                    overflow: hidden;

                    img {
                        display: block;
                        width: 100% !important;
                        height: 100% !important;
                        margin: 0;
                        border-radius: 0px;
                        transition: all 0.2s ease-in-out !important;
                    }
                }

                span.resultsContentImgOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    padding: 100% 0 0 0;
                    margin: 0;
                    background: rgb(18, 25, 35);
                    background: linear-gradient(180deg, rgba(18, 25, 35, 0) 75%, rgba(18, 25, 35, 1) 100%);
                    opacity: .20;
                }

                span.resultsContentWrapper {
                    display: block;
                    padding: 15px 15px 0 15px;
                    border-top: 1px solid #c3c8d6;
                    text-align: left;
                    margin: 0px 0px 0;
                    //color: $primaryColor;



                    h2 {
                        font-weight: 700;
                        margin: 0 0 0 0;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        color: inherit !important;
                        font-family: 'Roboto', sans-serif;

                        i {
                            font-size: 34px;
                            margin: 0 0 0 auto;
                            width: auto;
                            //float: right;
                            color: $txtColorA;
                        }
                    }

                    p,
                    a {
                        padding: 0px;
                        width: 100%;
                        margin: 10px 0 0 0;
                        font-size: .9rem;
                        line-height: 1.3rem;
                        color: inherit;
                        float: none;

                    }

                    span.info {
                        display: block;
                        margin: 15px 0 0;
                        padding: 5px 0;
                        border-top: 1px solid #c3c8d6;
                        text-align: left;

                        p,
                        a {
                            margin: 10px 0;
                            font-size: .9rem;
                            line-height: 22px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            color: $txtColorA;

                            i {
                                display: flex;
                                height: 22px;
                                margin: 0 10px 0 0;
                                width: auto;
                                color: inherit;

                            }

                            i.cta {
                                font-size: 45px;
                                line-height: inherit;
                                align-self: flex-start;
                                width: 38px;
                                margin: 0 0 0 auto !important;
                                color: $tertiaryColor;
                            }
                        }

                        a {
                            i {
                                color: $tertiaryColor;
                            }
                        }

                        a:hover {
                            color: $tertiaryColor !important;

                            i {
                                color: inherit;
                                text-decoration: none;
                            }
                        }

                    }

                    span.cta {
                        display: table;
                        margin: 20px auto 15px;
                        padding: 5px 20px;
                        font-size: .8rem;
                    }

                    ul {
                        width: auto;
                        justify-content: left;
                        display: flex;
                        flex-wrap: wrap;
                        grid-gap: 0;
                        margin: 0 0 11px 0;
                        padding: 0;

                        li {
                            width: auto;
                            display: inline-flex;
                            margin: 4px 8px 4px 0;
                            color: $primaryColor;
                            background-color: #d9e6ec;
                            padding: 0px 12px;
                            font-size: .8rem;
                            font-weight: 300;
                            border-radius: .2em;
                            box-shadow: none;
                        }

                        li.selected {
                            font-weight: bold;
                        }
                    }
                }
            }

            a:hover {
                text-decoration: none !important;
                // color: $primaryColor !important;

                h3 {
                    //text-decoration: underline;
                }

                img {
                    transform: scale(1.033);
                    filter: grayscale(0);
                }
            }

            a:focus {
                outline: none;
            }

            a:focus-visible {
                @include focusVisibleForDark;
            }

            a:-moz-focusring {
                @include focusVisibleForDark;
            }
        }
    }
}