@import "src/styles/scss";

.wrapper {
    display: flex;
    margin: 15px 0 0 0;
    padding: 0;


    div {
        overflow: hidden;
        width: auto;
        margin: 0;
        max-height: 37px;

        span {
            position: relative;
            display: block;
            float: left;
            justify-content: center;

            button.more {
                @include secondayNavTxt;
                line-height: inherit;
                display: flex;
                align-items: center;
                float: right;
                border: none;
                margin-right: 3px;
                padding: 2px 0 2px 5px;

            }

            button.more:hover {
                color: $tertiaryColor;
            }

            button {
                font-size: .8rem;
                line-height: initial;
                font-weight: 400;
                //letter-spacing: .025rem;
                width: auto;
                display: flex;
                float: left;
                margin: 4px;
                color: $primaryColor;
                background-color: $secondaryColorA;
                //border: 1px solid #bbc6cb;
                box-shadow: $globalBoxShadowB;
                border: none;
                padding: 5px 12px 5px 8px;
                border-radius: 999em;
                //border-radius: .2rem;
                align-items: center;
                cursor: pointer;

                span {
                    pointer-events: none;
                    display: flex;
                    align-self: center;

                }

                span:nth-child(1) {
                    display: flex;
                    align-items: center;
                    margin: 0px 5px 0px 0px;

                    i {
                        height: auto;
                        font-size: 18px;
                        color: #37a58e;
                        margin: 0;
                    }

                    i:nth-child(1) {
                        color: #ffffff;
                    }
                }

                span:nth-child(2) {
                    font-size: .8rem;
                    line-height: 20px;
                    height: 20px;
                    display: flex;
                    align-self: center;
                    font-weight: 400;
                    text-align: center;
                    margin: 0 -2px 0 7px;
                    border-radius: 999rem;
                    background-color: $secondaryColorB;
                    padding: 1px 6px;
                    //height: auto;
                }
            }

            button:focus {
                outline: none;
            }

            /* Optional: Customize .focus-visible */
            button:focus-visible {
                @include focusVisibleForDark;
            }

            button:-moz-focusring {
                @include focusVisibleForDark;
            }
        }
    }
}