@import "src/styles/scss";

.wrapper {
    margin: 0 15px;

    @include respond-below(md) {
        margin: 0 15px;
    }

    @include respond-below(sm) {
        margin: 0 15px;
    }

    @include respond-below(xs) {
        margin: 0 15px;
    }

    div {
        overflow: hidden;
        width: auto;
        margin: 0;
        max-height: 38px;
        transition: max-height .25s ease-in-out;


        span {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            button {
                font-size: .8rem;
                line-height: auto;
                font-weight: 400;
                width: auto;
                display: flex;
                margin: 4px;
                background-color: #627984;
                background-color: $txtColorA;
                color: #ffffff;

                box-shadow: $globalBoxShadowB;
                border: none;
                padding: 2px 12px;
                border-radius: 999em;
                border-radius: .2rem;
                align-items: center;
                cursor: pointer;

                span {
                    pointer-events: none;
                    display: flex;
                    align-self: center;

                }

                span:nth-child(1) {
                    display: flex;
                    align-items: center;
                    margin: 0px 5px 0px 0px;

                    i {
                        height: auto;
                        color: #969ba9;
                        margin: 0;
                    }

                    i:nth-child(1) {
                        color: #ffffff;
                    }
                }

                span:nth-child(2) {
                    font-size: .8rem;
                    line-height: 20px;
                    height: 20px;
                    display: flex;
                    align-self: center;
                    font-weight: 400;
                    text-align: center;
                    margin: 0 -2px 0 5px;
                    border-radius: 999rem;
                    background-color: #3e4867;
                    padding: 1px 6px;
                    //height: auto;
                }
            }



            button:focus {
                outline: none;
            }

            /* Optional: Customize .focus-visible */
            button:focus-visible {
                @include focusVisibleForDark;
            }

            button:-moz-focusring {
                @include focusVisibleForDark;
            }
        }
    }
}