@import "src/styles/scss";

.sectionWrapper {
    // background-color: #ffffff;
    // background-color: #EDEDED;
    // background-color: #6FFFE9;
    // background-color: #e1f229;
    background-color: #fac036;

    h2 {
        text-align: center;
    }

    .sectionInner {
        display: block;
        max-width: 1200px;
        padding: 30px 0px 15px 0;

        @include respond-below(sm) {
            padding: 45px 0px 10px;
        }

        margin: 0 auto;
        text-align: center;



        .div {
            color: $primaryColor;

            p {
                color: inherit;

                strong {
                    font-weight: 700;
                }
            }
        }
    }
}