@import "src/styles/scss";

.level0 {
    background-color: #6cb4bf;
}

.level1 {
    background-color: #6cbfa1;
}

.level2 {
    background-color: #ffbf00;
}

.level3 {
    background-color: tomato;
}

.sectionWrapper {
    border-top: 1px solid #ffffff66;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    button {
        font-size: .8rem;
        line-height: .0rem;
        text-transform: uppercase;
        align-items: center;
        //justify-content: flex-end;
        margin: 0 0 0 -32px;
        padding: 0px;
        position: absolute;
        right: 15px;

        background-color: transparent;
        border: none;
        cursor: pointer;


        i {
            font-size: 32px;
            pointer-events: none;
            margin: 0;
            color: $primaryColor;

        }
    }

    button:focus {
        outline: none;
    }

    button:focus-visible {
        @include focusVisibleForDark;
    }

    button:-moz-focusring {
        @include focusVisibleForDark;
    }

    div.sectionInner {
        display: block;
        max-width: 768px;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        padding: 15px 45px;
        color: #ffffff !important;


        @include respond-below(sm) {
            //padding: 15px 0;
        }

        .div {
            p {
                strong {
                    font-weight: 700;
                }
            }
        }
    }
}