@import "src/styles/scss";


.homepageIntro {
    text-align: center;
    margin: 0 20%;

    @include respond-below(sm) {
        margin: 0 15px;
    }

    h1 {
        color: #121923;
        font-size: 2.6rem;
        line-height: 2.8rem;
        font-weight: 800;
    }

    p {
        color: #66758D;
        font-size: 1.6rem;
        line-height: 2.0rem;
    }

    a {
        margin: 30px 0;
    }
}