@import "src/styles/scss";


.homepageHeaderImg {
    background-color: $primaryColor;
    position: relative;
    height: fit-content;
    max-height: 500px;
    overflow: hidden;

    div.imgTxt {
        height: 100%;
        display: flex;
        flex-direction: row;
        width: 100%;
        position: absolute;
        background: $primaryColor;
        background: linear-gradient(0deg, rgba(18, 25, 35, 0) 75%, rgba(18, 25, 35, 1) 100%);
        z-index: 10000;

        span {
            display: flex;
            max-width: 800px;
            align-items: center;
            text-align: center;
            margin: 60px auto 0;
            padding: 15px 30px;
            color: #ffffff;
            @include homePageTitle;
        }
    }



    div.img {
        display: block;
        margin-top: 0px;
        display: block;
        opacity: .75;

        img {
            object-position: top !important;
            transition: opacity 0.5s ease !important;

            @include respond-above(lg) {
                object-position: top !important;
            }
        }
    }

}