@import "src/styles/scss";

.supportSection {


    h2 {
        text-align: center;
        //color: #ffffff;
    }

    .supportSectionOutterWrapper {
        .supportSectionInnerWrapper {
            display: block;
            max-width: 1200px;
            padding: 0 15px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;

            .content {
                padding: 60px 0px 60px 60px;

                @include respond-below(sm) {
                    padding: 30px 0px 30px 30px;
                }

                align-self: center;

                p {
                    //margin: 0 0 0 60px;
                    text-align: left;
                    //color: #363c46;
                    //color: #66758D;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    margin-bottom: 0;
                }
            }

            .steps {
                align-self: center;

                div {
                    display: flex;
                    align-self: center;
                    margin: 45px 0px;
                    background-color: #EDEDED;
                    border-radius: 9999rem;
                    width: 100px;
                    height: 100px;

                    @include respond-below(sm) {
                        width: 75px;
                        height: 75px;
                    }

                    p {
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                        align-self: center;
                        color: #898d92;
                        font-size: 3.0rem;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;

                        @include respond-below(sm) {
                            font-size: 2.4rem;
                        }

                    }
                }
            }
        }
    }

    .supportSectionOutterWrapper:nth-child(odd) {
        background-color: #dcd4d4;
    }


    .supportSectionOutterWrapper:nth-child(even) {
        .steps {
            div {
                background-color: #dcd4d4;
            }
        }
    }
}