@import "src/styles/scss";

.sectionWrapper {

    background-color: #fac036;
    z-index: 11;


    h2 {
        text-align: center;

    }

    .sectionInner {
        display: block;
        max-width: 1200px;
        padding: 60px 0px;

        @include respond-below(sm) {
            padding: 45px 0px 0px;
        }

        margin: 0 auto;
        text-align: center;

        h3 {
            @include h1Title;
            font-size: 1.6rem;
            line-height: 2.2rem;
            font-weight: 400;
            color: #543407;
            padding: 0 30px;
        }


        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: left;
            list-style: none;
            margin: 0;
            width: 100%;


            li {
                display: block;
                border-radius: 3px;
                position: relative;
                flex-basis: calc(33% - 60px);
                margin: 15px;
                //background-color: #ffffff;
                padding: 15px 30px;
                //border: 1px solid #5cd2c0;
                background-color: $pageBgColor;
                box-shadow: $globalBoxShadowA;


                @include respond-below(md) {
                    flex-basis: calc(47% - 7.5px);
                    margin: 15px;
                }

                @include respond-below(sm) {
                    flex-basis: calc(45% - 7.5px);
                    margin: 15px;
                }

                @include respond-below(xs) {
                    flex-basis: calc(100% - 7.5px);
                    // border-bottom: 1px solid #d8d8d8;
                    // margin-bottom: 30px;
                }


                p {
                    color: $primaryColor;
                    color: #363c46;
                    margin: 0;

                }



                p:nth-child(1) {
                    font-size: 1.1rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                p:nth-child(2) {
                    margin: 0 25px;
                    display: inline;
                    line-height: 1.3rem;
                    position: relative;
                }

                p:nth-child(2):before,
                p:nth-child(2):after {
                    font-size: 2.4rem;
                    line-height: 0;
                    position: absolute;
                    font-family: 'Tinos', serif;
                    font-weight: 700;
                }

                p:nth-child(2):before {
                    content: "\201C";
                    top: 12px;
                    left: -25px;
                }

                p:nth-child(2):after {
                    content: "\201D";
                    bottom: 6px;
                    margin-left: 3px;
                }
            }
        }
    }
}