@import "src/styles/scss";

.sectionWrapper {
    background-color: #fac036;
    z-index: 10;
    position: relative;



    h3 {
        text-align: center;

    }

    .sectionInner {
        max-width: 1200px;
        padding: 60px 0px;
        margin: 0 auto;
        text-align: center;

        @include respond-below(md) {
            padding: 45px 0px 5px;
        }

        h3 {
            @include h1Title;
            font-size: 1.6rem;
            line-height: 2.0rem;
            font-weight: 400;
            color: #543407;
            padding: 0 30px;
        }


        ul {
            display: grid;
            padding: 15px;
            grid-gap: 15px 30px;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 0;
            list-style: none;
            margin: 0px;
            align-content: space-between;
            justify-content: space-around;

            @include respond-below(lg) {
                grid-template-columns: repeat(3, 1fr);
            }

            @include respond-below(md) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include respond-below(sm) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include respond-below(xs) {

                grid-template-columns: repeat(1, 1fr);
            }


            li {
                display: block;
                position: relative;
                height: max-content;
                transition: all 0.2s ease-in-out;
                text-align: left;
                background-color: #ffffff;
                border-radius: $globalBorderRadiusA;
                box-shadow: $globalBoxShadowA;
                width: 100%;
                padding: 15px;

                p {
                    color: $txtColor;
                    //color: #363c46;
                    margin: 0;

                }

                p:nth-child(1) {
                    font-size: 1.1rem;
                    line-height: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                p:nth-child(2) {
                    margin: 0 25px;
                    display: inline-block;
                    line-height: 1.3rem;
                    position: relative;
                }

                p:nth-child(2):before,
                p:nth-child(2):after {
                    font-family: 'Noto Serif', serif;
                    font-weight: 700;
                    font-size: 2.2rem;
                    line-height: 0;
                    position: absolute;
                }

                p:nth-child(2):before {
                    content: "\201C";
                    top: 12px;
                    left: -25px;
                }

                p:nth-child(2):after {
                    content: "\201D";
                    bottom: 8px;
                    margin-left: 3px;
                }
            }
        }
    }
}