@import "src/styles/scss";

.peerFilter {
    padding: $globalSecionPadding;
    padding: 45px 0 1px 0;
    margin-top: 40px !important;
    background-color: turquoise;
    background-color: #c1def5;

    @include respond-below(lg) {
        padding: 45px 0 5px 0;
    }

    h1 {
        text-align: center;
        //color: #ffffff;
    }

    div.wrapper {
        max-width: 1200px;
        margin: 0 auto;

        .peerFilterInput {
            padding: 0 30px;
            position: relative;

            label {
                display: none;
            }

            input,
            input:focus {
                padding: 15px 60px 15px 30px;
                border: none !important;
                font-size: 1.1rem;
                line-height: 1.0rem;
                font-weight: 500;
                border-bottom: 2px solid $headerBgColor !important;
                color: $headerBgColor;
                background-color: #03122315 !important;
                background-color: #2f82c129 !important;
            }

            input:focus {
                background-color: #ffffff !important;
            }

            button {
                position: absolute;
                top: 15px;
                right: 45px;
                background-color: transparent;
                padding: 0;
                border: none;
                cursor: pointer;


                svg {
                    height: 28px;
                    width: auto;
                }
            }

            span {
                text-align: center;
                display: block;
                font-size: 1.1rem;
                margin: 10px 30px 0;

            }
        }

        .peerFilterTags {
            margin: 0 30px 15px;

            ul {
                width: auto;
                margin: 8px 0 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                li {
                    font-size: .9rem;
                    line-height: .9rem;
                    width: auto;
                    display: inline-block;
                    flex: none;
                    margin: 4px;
                    color: #ffffff;
                    background-color: #004661;
                    background-color: #487D93;
                    background-color: #1A75BB;
                    background-color: #317BB4;
                    // background-color: #b704a8;


                    border: 1px solid transparent;
                    outline: none;
                    padding: 8px 20px;
                    border-radius: 999em;
                    border-radius: .3rem;
                    user-select: none;
                    cursor: pointer;

                    span {
                        pointer-events: none;

                        svg {
                            height: .8rem;
                            width: 20px;
                            margin: 0px 8px 1px -4px;
                            pointer-events: none;
                            vertical-align: middle;
                            // display: none;
                        }
                    }
                }

                li:hover,
                li:focus {
                    box-shadow: $globalBoxShadowA;
                    border: 1px solid $headerBgColor;
                    //border: 1px solid #ffffff;
                    outline: none;
                }
            }
        }
    }
}


.peerResults {
    padding: 30px 0 1px 0;
    background-color: #110239;
    background-color: #1e0e48;


    h1 {
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }

    span {
        text-align: center;
        display: block;
        color: #ffffff;
        font-size: 1.1rem;
        margin: 10px 30px 0;

        svg {
            margin-top: 60px;
            width: 200px;
            height: auto;
        }
    }

    div.wrapper {
        max-width: 1200px;
        margin: 0 auto !important;

        ul {

            display: flex;
            flex-wrap: wrap;
            /*  allow items to wrap  */
            justify-content: center;

            text-align: left;
            list-style: none;
            margin: 0;

            width: 100%;
            padding: 0px;

            @include respond-below(sm) {
                padding: 7.5px;
            }

        }

        ul li {


            position: relative;
            flex-basis: calc(33% - 60px);

            @include respond-below(md) {
                flex-basis: calc(44% - 15px);
                //margin: 15px;
            }

            @include respond-below(sm) {
                flex-basis: calc(45% - 15px);
                //border-bottom: 1px solid #d8d8d8;
                //margin-bottom: 30px;
            }

            @include respond-below(xs) {
                flex-basis: calc(100% - 15px);
                // border-bottom: 1px solid #d8d8d8;
                margin-bottom: 30px;
            }

            margin: 15px 30px 30px 30px;


            vertical-align: top;
            // border-radius: $globalBorderRadiusA;
            //overflow: hidden;
            //box-shadow: $globalBoxShadowA;
            //box-shadow: 0 0 10px 0 #a49e9e;
            // background-color: #ffffff;
            //border-radius: 5px;


            //padding: 30px;
            a {
                color: $txtColor !important;
                //background-color: #ffffff;
                width: 100%;
                height: 100%;
                display: block;
                //overflow: hidden;

                >div {

                    border-radius: $globalBorderRadiusA;
                    overflow: hidden;
                    box-shadow: $globalBoxShadowA;
                    border: 1px solid #ffffff;

                    >div {}

                    img {


                        display: block;
                        width: 100% !important;
                        height: auto !important;
                        margin: 0;
                        border-radius: 0px;
                        transition: all 0.2s ease-in-out !important;


                        //filter: grayscale(100%);
                        @include respond-below(sm) {
                            // padding: 15px 15px 0 15px;
                        }
                    }
                }

                span {
                    display: block;
                    padding: 20px 15px;
                    //border-top: 1px solid #2e3e4f;

                    color: #ffffff;
                    text-align: left;
                    margin: 10px 0px 0;

                    //color: $primaryColor;
                    p {
                        //text-align: center;
                        padding: 0px;
                        width: 100%;
                        margin: 10px 0 0 0;
                        font-size: .9rem;
                        color: inherit;
                    }

                    h2 {
                        font-weight: 600;
                        margin: 0 0 0 0;
                        font-size: 1.2rem;

                        letter-spacing: .03rem;
                        color: inherit;
                    }

                    ul {
                        width: auto;
                        margin-top: 0px;
                        justify-content: left;

                        li {
                            width: auto;
                            display: block;
                            flex: none;
                            margin: 4px 8px 4px 0;
                            color: #4ba5ca;
                            border: 1px solid #103857;
                            background-color: #190a42;
                            padding: 1px 12px;
                            font-size: .8rem;
                            border-radius: .5em;
                        }

                        li.selected {
                            font-weight: bold;
                        }
                    }

                }
            }

            a:hover {
                //color: #ffffff !important;
                text-decoration: none !important;
                color: $primaryColor !important;

                // *img {
                //     filter: grayscale(100%);
                // }
                h3 {
                    text-decoration: underline;
                }

                img {
                    transform: scale(1.033);
                    filter: grayscale(0);
                }

                span {
                    // color: $primaryColor;
                    // background-color: $primaryColor;
                    //border-top: 1px solid #ffffff;

                    h3 {
                        //color: $primaryColor;
                        // color: #ffffff;
                        //text-decoration: none;
                    }
                }
            }
        }

        li:hover {
            //box-shadow: $globalBoxShadowB;
            // box-shadow: 0 0 15px 0 #a49e9e;



        }
    }
}