@import "src/styles/scss";

div.peerSupporterWrapper {
    section.header {
        background-color: $pageBgColor;
        background: linear-gradient(180deg, rgba(217, 230, 236, 1) 96%, rgba(208, 219, 224, 1) 100%);

        .headerWrapper {
            max-width: 1200px;
            margin: 60px auto 0px auto;
            padding: 0 15px;

            @include respond-below(sm) {
                padding: 0;
            }

            .headerTitleWrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                align-items: stretch;

                @include respond-below(sm) {
                    flex-direction: column;
                }

                .headerTitle {
                    padding: 15px 15px;
                    border-radius: 4px 4px 0 0;
                    // border: 2px solid #c1d1d8;
                    // box-shadow: 0px -0px 5px 0px rgba(0, 0, 0, 0.10);
                    border-bottom: none;
                    margin-bottom: -0px;
                    flex-grow: 1;
                    order: 0;
                    color: inherit;
                    //display: flex;
                    align-items: center;
                    flex-basis: 66.6%;

                    @include respond-below(sm) {
                        padding: 15px 15px;
                        border-radius: 0;
                        width: 100%;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        // color: #ffffff;

                        h1 {
                            color: inherit;
                            order: 1;
                            padding: 0 15px;
                            margin-bottom: .33rem;

                            font-size: 1.5rem;
                            text-align: left;


                        }

                        .headerProfileImg {

                            order: 0;
                            width: 90px;
                            min-width: 90px;
                            height: 90px;
                            border-radius: 999rem;
                            overflow: hidden;
                            border: 1px solid #adb1bb;
                            box-shadow: $globalBoxShadowB;
                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

                        }
                    }



                    .headerDesciption {
                        order: 1;

                        text-align: left;
                        margin-top: 15px;
                        padding: 0 15px 0 0;
                        //color: $headerBgColor;
                        //color: #ffffff;


                        p {
                            color: inherit;
                            margin-bottom: .1rem;
                        }
                    }
                }

                .contentTags {
                    order: 1;
                    flex-basis: 33.3%;
                    flex-grow: 1;
                    align-self: flex-end;
                    padding-bottom: 15px;
                    text-align: left;

                    @include respond-below(sm) {
                        order: 0;
                        flex-grow: 1;
                        flex-basis: 100%;
                        width: 100%;
                        padding: 0 15px 15px;
                        margin-bottom: -1px;
                    }

                    ul {
                        width: auto;
                        margin: 0 0 0;
                        padding: 0px;
                        justify-content: left;

                        li {
                            width: auto;
                            display: inline-block;
                            margin: 4px 8px 4px 0px;
                            color: $txtColor;
                            background-color: #c1d1d8;
                            padding: 3px 12px;
                            font-size: .85rem;
                            font-weight: 400;
                            border-radius: .2em;
                            box-shadow: none;

                        }

                        li.selected {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    section.content {
        background-color: #ffffff;

        .contentWrapper {
            max-width: 1200px;
            margin: 0px auto;
            padding: 0 0px;
            display: flex;
            flex-direction: row;
            align-items: top;

            @include respond-below(sm) {
                padding: 0;
            }

            @include respond-below(sm) {
                flex-direction: column;
            }

            .contentBlock,
            .contentTags {
                padding: 15px 30px;
            }

            .contentBlock {
                order: 0;
                flex-grow: 1;
                padding-right: 30px;
                flex-basis: 66.6%;

                @include respond-below(sm) {
                    order: 1;
                    flex-basis: 100%;
                    padding: 15px;
                }
            }

            .contentComplementary {
                order: 1;
                //flex-shrink: 0;
                flex-basis: 33.3%;

                text-align: left;
                padding: 15px 15px 15px 0;

                @include respond-below(sm) {
                    flex-basis: 100%;
                    width: 100%;
                    padding: 15px 15px 15px;
                    //border-top: 1px solid #c1d1d8;
                }

                .supporterInfo {
                    padding: 0 0 15px;
                    border-bottom: 1px solid #c1d1d8;

                    span {
                        display: inline-block;
                        margin-right: 15px;
                        color: $txtColorA;
                        font-weight: 400;
                        font-size: .8rem;

                        svg {
                            width: 25px;
                            margin-right: 5px;
                            height: auto;
                            vertical-align: middle;
                            color: inherit;
                        }
                    }
                }


                p {
                    color: $txtColorA;

                    margin-bottom: 15px;

                    span {
                        font-weight: bold;

                        img {
                            width: 32px;
                            height: auto;
                            vertical-align: middle;
                        }
                    }

                    @include respond-below(sm) {
                        //display: none;
                    }
                }
            }
        }
    }
}