@import "src/styles/scss";

.peerFilter {
    padding: $globalSecionPadding;
    padding: 0px 0 1px 0;
    margin-top: 60px !important;
    background-color: turquoise;
    background-color: #c1def5;
    background-color: $headerBgColor;

    @include respond-below(lg) {
        padding: 7.5px 0 5px 0;
    }

    h1,
    span.or {
        text-align: center;
        color: #ffffff;
    }

    h1 {
        letter-spacing: .5rem;
    }

    span.or {
        display: block;
        padding: 0px;
        margin: 8px 0 4px;
        font-size: .8rem;
        line-height: 1;
        opacity: .75;
        font-weight: 300;
        //letter-spacing: .075rem;
        //text-transform: uppercase;
    }

    div.wrapper {
        max-width: 1200px;
        margin: 0 auto;

        .peerFilterInput {
            padding: 15px 30px 0;
            position: relative;

            padding: 15px 30px 0;

            @include respond-below(md) {
                padding: 15px 15px 0;
            }

            @include respond-below(sm) {
                padding: 15px 15px 0;
            }

            @include respond-below(xs) {
                padding: 15px 15px 0;
            }

            label.filterLabel {
                // position: absolute;
                // //display: block;
                // top: 32px;

                // @include respond-below(sm) {
                //     left: 15px;
                //     right: 60px;
                // }

                // color: #6FFFE9;
                // background-color: transparent;
                // font-weight: 400;
                // font-size: 1.0rem;
                // line-height: 1.0rem;
                // padding: 0px 12px;
                // transition: top .25s ease-in;
                // white-space: nowrap;
                // overflow: hidden;
            }


            input[type=search] {
                color: #ffffff;
                z-index: 1;

                background-color: #3A506B;
                padding: 15px 60px 15px 15px;

                @include respond-below(md) {
                    padding: 15px 30px 15px 15px;
                }

                border: none !important;
                font-size: 1.1rem;
                line-height: 1.0rem;
                font-weight: 500;
                border-bottom: 2px solid #6FFFE9 !important;
            }


            input[type=search]:focus {
                color: $headerBgColor;
                background-color: #ffffff;
                outline: none;
            }

            input[type=search]::placeholder {
                color: transparent;
            }

            input[type=search]::-webkit-input-placeholder {
                color: transparent;
            }




            button.filterReset,
            .filterSearchIcon,
            .filterSearchIconAlt {
                position: absolute;
                top: 25px;
                right: 45px;

                @include respond-below(md) {
                    right: 30px;
                }


                background-color: transparent;
                padding: 0;
                border: none;
                z-index: 10000;
                cursor: pointer;
                height: 26px;
                width: auto;


                svg {
                    height: inherit;
                    width: auto;
                }
            }

            .filterSearchIcon,
            .filterSearchIconAlt {
                pointer-events: none;
            }

            button.filterReset.hide,
            .filterSearchIcon.hide,
            .filterSearchIconAlt.hide {
                display: none;

            }



            span {
                text-align: center;
                display: block;
                font-size: 1.1rem;
                margin: 10px 30px 0;

            }
        }

        .peerFilterTags {
            margin: 0 30px 0px;

            @include respond-below(md) {
                margin: 0 15px;
            }

            @include respond-below(sm) {
                margin: 0 15px;
            }

            @include respond-below(xs) {
                margin: 0 15px;
            }


            ul {
                width: auto;
                margin: 0px 0 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                li {
                    font-size: .9rem;
                    line-height: .9rem;
                    width: auto;
                    display: inline-block;
                    flex: none;
                    margin: 4px;
                    color: #ffffff;
                    background-color: #004661;
                    background-color: #487D93;
                    background-color: #1A75BB;
                    background-color: #317BB4;
                    background-color: #335c7b;
                    background-color: #3A506B;



                    // background-color: #b704a8;


                    border: 1px solid transparent;
                    outline: none;
                    //padding: 7.5px 15px;
                    padding: 6.5px 8.5px;
                    border-radius: 999em;
                    border-radius: .2rem;
                    user-select: none;
                    cursor: pointer;

                    span {
                        pointer-events: none;

                        svg {
                            height: .8rem;
                            height: auto;
                            width: 12px;
                            margin: 0px 5px 1px -2px;
                            pointer-events: none;
                            vertical-align: middle;
                            //display: none;
                        }
                    }
                }

                li:hover,
                li:focus {
                    box-shadow: $globalBoxShadowA;
                    border: 1px solid $headerBgColor;
                    //border: 1px solid #ffffff;
                    outline: none;
                }
            }
        }
    }
}


.peerResults {
    padding: 15px 0 1px 0;
    background-color: #110239;
    background-color: #1e0e48;
    background-color: #335c7b;
    background-color: #0B132B;




    div.wrapper {
        max-width: 1200px;
        margin: 0 auto !important;

        h1 {
            text-align: center;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: .075rem;
            margin: 0 30px 15px 30px;

        }

        span {
            text-align: center;
            display: block;
            color: #ffffff;
            font-size: 1.1rem;
            margin: 10px 30px 0;

            svg {
                margin: 60px 0;
                width: 180px;
                height: auto;
            }
        }

        ul {

            display: flex;
            flex-wrap: wrap;
            /*  allow items to wrap  */
            justify-content: center;

            text-align: left;
            list-style: none;
            margin: 0;

            width: 100%;
            padding: 0px;

            @include respond-below(sm) {
                //padding: 7.5px;
            }

        }

        ul li {


            // box-shadow: $globalBoxShadowA;
            border-radius: $globalBorderRadiusA;
            //border: 1px solid $headerBgColor;
            //overflow: hidden;

            position: relative;
            flex-basis: calc(33% - 60px);

            @include respond-below(md) {
                flex-basis: calc(47% - 7.5px);
                margin: 15px;
            }

            @include respond-below(sm) {
                flex-basis: calc(46% - 7.5px);
                margin: 15px;
            }

            @include respond-below(xs) {
                flex-basis: calc(100% - 7.5px);
                // border-bottom: 1px solid #d8d8d8;
                margin-bottom: 30px;
            }

            margin: 15px 30px 30px 30px;


            vertical-align: top;
            // border-radius: $globalBorderRadiusA;
            //overflow: hidden;
            //box-shadow: $globalBoxShadowA;
            //box-shadow: 0 0 10px 0 #a49e9e;
            // background-color: #ffffff;
            //border-radius: 5px;


            //padding: 30px;
            a {
                color: $txtColor !important;
                background-color: #291361;
                background-color: #1C2541;
                //background-color: #6FFFE9;
                width: 100%;
                height: 100%;
                display: block;

                >div {
                    overflow: hidden;

                    img {


                        display: block;
                        width: 100% !important;
                        height: auto !important;
                        margin: 0;
                        border-radius: 0px;
                        transition: all 0.2s ease-in-out !important;


                        //filter: grayscale(100%);
                        @include respond-below(sm) {
                            // padding: 15px 15px 0 15px;
                        }
                    }
                }

                span {
                    display: block;
                    padding: 15px 15px 11px 15px;
                    border-top: 1px solid #FF00E9;
                    border-top: 1px solid #ffffff;
                    border-top: 2px solid #6FFFE9;
                    //border-top: 2px solid #2AF24B;

                    color: #5BC0BE;
                    text-align: left;
                    margin: 0px 0px 0;

                    //color: $primaryColor;
                    p {
                        //text-align: center;
                        padding: 0px;
                        width: 100%;
                        margin: 10px 0 0 0;
                        font-size: .9rem;
                        color: inherit;
                    }

                    h2 {
                        font-weight: 600;
                        margin: 0 0 0 0;
                        font-size: 1.2rem;

                        letter-spacing: .03rem;
                        color: inherit;
                    }

                    ul {
                        width: auto;
                        margin-top: 0px;
                        justify-content: left;

                        li {
                            width: auto;
                            display: block;
                            flex: none;
                            margin: 4px 8px 4px 0;
                            color: #e4e9ec;
                            //border: 1px solid #361884;
                            background-color: #1e0e48;
                            background-color: #3A506B;
                            padding: 1px 12px;
                            font-size: .8rem;
                            border-radius: .2em;
                            box-shadow: none;
                        }

                        li.selected {
                            font-weight: bold;
                        }
                    }
                }
            }

            a:hover {
                //color: #ffffff !important;
                //box-shadow: $globalBoxShadowA;
                text-decoration: none !important;
                color: $primaryColor !important;

                // *img {
                //     filter: grayscale(100%);
                // }
                h3 {
                    text-decoration: underline;
                }

                img {
                    transform: scale(1.033);
                    filter: grayscale(0);
                }

                span {
                    // color: $primaryColor;
                    // background-color: $primaryColor;
                    //border-top: 1px solid #ffffff;

                    h3 {
                        //color: $primaryColor;
                        // color: #ffffff;
                        //text-decoration: none;
                    }
                }
            }
        }

        li:hover {
            //box-shadow: $globalBoxShadowB;
            // box-shadow: 0 0 15px 0 #a49e9e;



        }
    }
}