@import "src/styles/scss";

section.prevNext {
    z-index: 100;
    transition: all .25s linear;
    position: sticky;
    padding: 20px 0 10px 0;
    //background: #87c8e2;
    background-color: #c1def5;
    background-color: $headerBgColor;
    top: 50px;
    //border-bottom: 1px solid #ffffff;
    //border-bottom: 1px solid #FF00E9;
    //border-bottom: 1px solid #FF00E9;

    nav {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;

        @include respond-below(md) {
            width: 100%;
            position: relative;
            top: 0px;
        }

        a {
            color: $txtColor;

            color: #ffffff;

            span {
                text-transform: uppercase;
                font-size: .8rem;
            }

            svg {
                display: inline-block;
                width: 20px;
                height: auto;
                vertical-align: middle;
                margin: -2px 10px 0 0;
            }
        }

        a.prev {}

        a.next {
            margin-left: auto;

            svg {
                margin: -2px 0 0 10px;
            }
        }

        a:focus {
            outline: none;
        }

        a:focus-visible {
            @include focusVisibleForDark;
        }

        a:-moz-focusring {
            @include focusVisibleForDark;
        }
    }
}


div.peerSupporterWrapper {
    section.header {
        // background-color: #291361;
        // background: rgb(30, 14, 72);
        // background: linear-gradient(180deg, rgba(30, 14, 72, 1) 0%, rgba(41, 19, 97, 1) 67%);
        // background: rgb(41, 19, 97);
        // background: radial-gradient(circle, rgba(41, 19, 97, 1) 0%, rgba(30, 14, 72, 1) 67%);

        // background: rgb(41, 19, 97);
        // background: linear-gradient(260deg, rgba(41, 19, 97, 1) 0%, rgba(30, 14, 72, 1) 67%);

        background-color: #3A506B;
        background-color: #5BC0BE;
        background-color: #9ac3d7;
        background-color: $headerBgColor;
        border-bottom: 1px solid #6fffe9;
        // background-color: #6FFFE9;
        //background-color: #6FFFE9;

        //border-top: 2px solid #FF00E9;

        .headerWrapper {
            max-width: 1200px;
            margin: 0px auto;
            margin-top: 50px;
            //padding: 75px 15px 30px;
            padding: 0 15px;

            @include respond-below(sm) {
                padding: 0;
            }

            color: #ffffff;



            //color: #0B132B;



            .headerTitleWrapper {

                display: flex;
                flex-direction: row;
                align-items: center;

                @include respond-below(sm) {
                    flex-direction: column;
                }



                .headerTitle {
                    // background: rgb(215, 231, 239);
                    // background: linear-gradient(180deg, rgba(215, 231, 239, 1) 72%, rgba(202, 217, 224, 1) 100%);

                    // background: rgb(3, 207, 218);
                    // background: linear-gradient(180deg, rgba(3, 207, 218, 1) 72%, rgba(3, 195, 205, 1) 100%);

                    background: rgb(111, 255, 233);
                    background: linear-gradient(180deg, rgba(111, 255, 233, 1) 72%, rgba(114, 235, 216, 1) 100%);

                    //background: #03cfda;

                    padding: 15px 30px;
                    border: 1px solid #6fffe9;
                    border-radius: 4px 4px 0 0;
                    border-bottom: none;
                    margin-bottom: -0px;
                    flex-grow: 1;
                    order: 0;
                    color: inherit;
                    align-items: center;

                    flex-basis: 66.6%;

                    @include respond-below(sm) {
                        padding: 15px 15px;
                        border-radius: 0;
                    }

                    span {
                        display: flex;
                        align-items: center;
                        color: #6fffe9;
                        color: $headerBgColor;

                        h1 {
                            color: inherit;
                            //color: #03cfda;
                            order: 1;
                            padding: 0 15px;
                            margin-bottom: .33rem;

                        }

                        .headerProfileImg {

                            order: 0;
                            width: 90px;
                            min-width: 90px;
                            height: 90px;
                            border-radius: 999rem;
                            //border: 1px solid #ffffff;
                            // border: 1px solid #5BC0BE;
                            overflow: hidden;

                            img {}
                        }
                    }



                    .headerDesciption {
                        order: 1;

                        text-align: left;
                        margin-top: 15px;
                        padding: 0 15px 0 0;
                        color: $headerBgColor;


                        p {
                            color: inherit;
                            margin-bottom: .1rem;
                        }
                    }
                }

                .contentTags {
                    order: 1;
                    //flex-shrink: 0;
                    flex-basis: 33.3%;
                    flex-grow: 1;
                    align-self: flex-end;
                    padding-bottom: 26px;

                    @include respond-below(sm) {
                        order: 0;
                        flex-grow: 1;
                        //flex-shrink: 1;
                        flex-basis: 100%;
                        width: 100%;
                        padding: 0 15px 15px;
                        background-color: #cad9e0;
                        background-color: #03cfda;
                        background-color: #03c3cd;
                        background-color: #72ebd8;
                        margin-bottom: -1px;
                    }

                    text-align: left;
                    padding-left: 30px;

                    p {
                        color: #291361;
                        color: $headerBgColor;
                        margin-bottom: .33rem;
                        // font-weight: bold;

                        @include respond-below(sm) {
                            display: none;
                        }
                    }

                    ul {
                        width: auto;
                        margin: 0 0 0;
                        padding: 0px;
                        justify-content: left;

                        li {
                            width: auto;
                            display: inline-block;

                            //flex: none;
                            margin: 4px 8px 4px 0px;
                            color: #e6ebee;
                            color: $headerBgColor;
                            color: #ffffff;
                            //border: 1px solid #361884;
                            background-color: $headerBgColor;
                            background-color: #3A506B;
                            background-color: #464f6b;
                            background-color: #03cfda;
                            background-color: #6FFFE9;
                            background-color: #464f6b;
                            //background-color: #5464a3;
                            padding: 3px 12px;
                            font-size: .85rem;

                            font-weight: 400;
                            border-radius: .2em;
                            box-shadow: none;
                        }

                        li.selected {
                            font-weight: bold;
                        }
                    }
                }


                // .headerInfo {
                //     @include respond-below(sm) {
                //         display: none;
                //     }

                //     //margin-top: 15px;
                //     padding: 30px 0 30px 30px;
                //     order: 1;
                //     flex-shrink: 0;
                //     flex-basis: 33.3%;
                //     align-self: center;

                //     p {
                //         color: inherit;
                //         margin-bottom: .1rem;

                //         span {
                //             //opacity: .66;
                //             font-weight: 300;
                //             margin-right: 8px;
                //         }
                //     }
                // }
            }


        }
    }

    section.content {
        max-width: 1200px;
        margin: 0px auto;
        padding: 0 15px;
        display: flex;
        flex-direction: row;
        align-items: top;

        @include respond-below(sm) {
            padding: 0;
        }

        @include respond-below(sm) {
            flex-direction: column;
        }

        .contentBlock,
        .contentTags {
            padding: 30px 30px;
        }

        .contentBlock {

            order: 0;
            flex-grow: 1;
            // border-right: 1px solid #6FFFE9;
            padding-right: 15px;
            flex-basis: 66.6%;
            //width: 66.6%;

            @include respond-below(sm) {
                order: 1;
                //flex-grow: 0;
                flex-basis: 100%;
                padding: 15px;
            }

            background: rgb(255, 255, 255);
            background: linear-gradient(45deg, rgba(255, 255, 255, 1) 33%, rgba(246, 245, 247, 1) 100%);

        }

        .contentAside {
            order: 1;
            //flex-shrink: 0;
            flex-basis: 33.3%;

            @include respond-below(sm) {
                //order: 0;
                //flex-grow: 1;
                //flex-shrink: 1;
                flex-basis: 100%;
                width: 100%;
                padding: 0 15px 15px;
                //background-color: #cad9e0;
            }

            text-align: left;
            padding: 30px;

            p {
                color: #291361;
                color: $headerBgColor;
                margin-bottom: .33rem;
                // font-weight: bold;

                @include respond-below(sm) {
                    //display: none;
                }
            }

        }
    }



    section.form {
        background-color: #2AF24B;
        background-color: #1E0E48;
        background-color: $headerBgColor;

        //border-top: 2px solid #2AF24B;
        //border-bottom: 2px solid #291361;

        // background-color: #291361;
        // border-bottom: 2px solid #2AF24B;
        border-top: 1px solid #6FFFE9;

        .formWrapper {
            max-width: 1200px;
            margin: 0px auto;
            padding: 45px 15px 45px;

            @include respond-below(sm) {
                padding: 30px 15px 30px;
            }

            // display: flex;
            //flex-direction: row;
            h4 {
                color: #ffffff;
                font-size: 1.6rem;
            }

            form {
                width: 66.6%;

                @include respond-below(sm) {
                    width: 100%;
                }

                label {
                    color: #ffffff;
                }

                input,
                textarea {
                    background-color: #d7e7ef;
                }

                input:focus,
                textarea:focus {
                    outline: none;
                }

                input:focus-visible,
                textarea:focus-visible {
                    @include focusVisibleForDark;
                }

                button[type=submit] {
                    //float: right;
                }

                input,
                textarea {
                    background-color: #d7e7ef;
                }

                input:focus,
                textarea:focus,
                button:focus {
                    outline: none;
                }

                input:focus-visible,
                textarea:focus-visible,
                button:focus-visible {
                    @include focusVisibleForDark;
                }

                input:-moz-focusring,
                textarea:-moz-focusring,
                button:-moz-focusring {
                    @include focusVisibleForDark;
                }
            }


            .peerUpdateInfo {
                @include respond-below(sm) {
                    // display: none;
                }

                clear: both;


                color: #ffffff;

                //margin-top: 15px;
                padding: 30px 0 0px 0px;
                order: 1;
                flex-shrink: 0;
                flex-basis: 33.3%;
                align-self: center;

                p {
                    color: inherit;
                    margin-bottom: .1rem;

                    span {
                        //opacity: .66;
                        font-weight: 300;
                        margin-right: 8px;
                    }
                }
            }

        }
    }
}