@import "src/styles/scss";

.peerResults {
    padding: 15px 0 60px 0;
    // background-color: #110239;
    // background-color: #1e0e48;
    // background-color: #335c7b;
    background-color: #0B132B;

    div.wrapper {
        max-width: 1200px;
        margin: 0 auto !important;
        text-align: center;


        .buttonPrimary {
            margin: 30px auto;
        }

        h1,
        h2 {
            text-align: center;
            color: #ffffff;
            //text-transform: uppercase;
            //letter-spacing: .075rem;
            margin: 60px 30px 15px 30px;
            //font-family: 'Roboto Slab';
            font-size: 1.8rem;

            @include respond-below(md) {
                margin-top: 30px;
            }

            @include respond-below(sm) {
                margin-top: 15px;
            }

        }

        h2 {
            color: #6fffe9;
        }

        span {
            text-align: center;
            display: block;
            color: #ffffff;
            font-size: 1.1rem;
            margin: 10px 30px 0;

            svg {
                margin: 60px 0;
                width: 180px;
                height: auto;
            }
        }

        ul {

            display: flex;
            flex-wrap: wrap;
            /*  allow items to wrap  */
            justify-content: center;

            text-align: left;
            list-style: none;
            margin: 0;

            width: 100%;
            padding: 0px;

            @include respond-below(sm) {
                //padding: 7.5px;
            }

        }

        ul li {


            // box-shadow: $globalBoxShadowA;
            border-radius: $globalBorderRadiusA;
            //border: 1px solid $headerBgColor;
            //overflow: hidden;

            position: relative;
            flex-basis: calc(33% - 60px);

            @include respond-below(md) {
                flex-basis: calc(47% - 7.5px);
                margin: 15px;
            }

            @include respond-below(sm) {
                flex-basis: calc(46% - 7.5px);
                margin: 15px;
            }

            @include respond-below(xs) {
                flex-basis: calc(100% - 7.5px);
                // border-bottom: 1px solid #d8d8d8;
                margin-bottom: 30px;
            }

            margin: 15px 30px 30px 30px;


            vertical-align: top;
            // border-radius: $globalBorderRadiusA;
            //overflow: hidden;
            //box-shadow: $globalBoxShadowA;
            //box-shadow: 0 0 10px 0 #a49e9e;
            // background-color: #ffffff;
            //border-radius: 5px;


            //padding: 30px;
            a {
                color: $txtColor !important;
                background-color: #291361;
                background-color: #1C2541;
                //background-color: #6FFFE9;
                width: 100%;
                height: 100%;
                display: block;

                >div {
                    overflow: hidden;


                    img {
                        display: block;
                        width: 100% !important;
                        height: 100% !important;
                        margin: 0;
                        border-radius: 0px;
                        transition: all 0.2s ease-in-out !important;


                        //filter: grayscale(100%);
                        @include respond-below(sm) {
                            // padding: 15px 15px 0 15px;
                        }
                    }
                }

                span.resultsContentImgOverlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    // right: 0;
                    // bottom: 0;
                    display: block;
                    width: 100%;
                    // height: auto !important;
                    padding: 100% 0 0 0;
                    margin: 0;
                    // height: inherit;
                    background: rgb(11, 19, 43);
                    background: linear-gradient(45deg, rgba(11, 19, 43, 1) 0%, rgba(11, 19, 43, 0) 50%);
                    opacity: .66;
                }

                span.resultsContentWrapper {
                    display: block;
                    padding: 15px 15px 11px 15px;
                    border-top: 1px solid #FF00E9;
                    border-top: 1px solid #ffffff;
                    border-top: 2px solid #0b132b;


                    //border-top: 2px solid #2AF24B;

                    color: #ffffff;
                    text-align: left;
                    margin: 0px 0px 0;

                    //color: $primaryColor;
                    p {
                        //text-align: center;
                        padding: 0px;
                        width: 100%;
                        margin: 10px 0 0 0;
                        font-size: .9rem;
                        color: inherit;
                    }

                    h3 {
                        font-weight: 600;
                        margin: 0 0 0 0;
                        font-size: 1.2rem;

                        letter-spacing: .03rem;
                        text-align: left;
                        color: inherit;
                    }

                    ul {
                        width: auto;
                        margin-top: 0px;
                        justify-content: left;

                        li {
                            width: auto;
                            display: block;
                            flex: none;
                            margin: 4px 8px 4px 0;
                            color: #e4e9ec;
                            //border: 1px solid #361884;
                            background-color: #1e0e48;
                            background-color: #3A506B;
                            background-color: #464f6b;
                            padding: 1px 12px;
                            font-size: .8rem;
                            border-radius: .2em;
                            box-shadow: none;
                        }

                        li.selected {
                            font-weight: bold;
                        }
                    }
                }
            }

            a:hover {
                //color: #ffffff !important;
                //box-shadow: $globalBoxShadowA;
                text-decoration: none !important;
                color: $primaryColor !important;

                // *img {
                //     filter: grayscale(100%);
                // }
                h3 {
                    text-decoration: underline;
                }

                img {
                    transform: scale(1.033);
                    filter: grayscale(0);
                }

                span {
                    // color: $primaryColor;
                    // background-color: $primaryColor;
                    //border-top: 1px solid #ffffff;

                    h3 {
                        //color: $primaryColor;
                        // color: #ffffff;
                        //text-decoration: none;
                    }
                }
            }
        }

        li:hover {
            //box-shadow: $globalBoxShadowB;
            // box-shadow: 0 0 15px 0 #a49e9e;

        }

        li a:focus {
            outline: none;
        }

        li a:focus-visible {
            @include focusVisibleForDark;
        }

        li a:-moz-focusring {
            @include focusVisibleForDark;
        }
    }
}