@import "../styles/variables";

@mixin headerTxt {
  font-size: .8rem;
  line-height: initial;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin h1Title {
  text-align: center;
  color: $primaryColor;
  font-family: 'Merriweather', serif;
  font-size: 1.8rem;
  font-weight: 900;
}

@mixin secondayNavTxt {
  line-height: initial;
  background-color: transparent;
  color: $txtColor;
  font-weight: 400;
  font-size: .8rem;
  cursor: pointer;
  box-shadow: none;
}

@mixin homePageTitle {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 1.8rem;
  line-height: 2.3rem;
  letter-spacing: .05rem;
}


@mixin focusVisibleForDark {
  outline: 3px solid $tertiaryColor !important;
}

@mixin minNavBottomBorder {
  border-bottom: 1px solid #343b44;
  box-shadow: $globalBoxShadowA;
}