$whiteText:#eff0f1;
$primaryColor: #121923;
$primaryColorA: #121923;
$secondaryColor: #CF425F;
//$secondaryColor: #FF6347;


$secondaryColorA: #42CFB2;
$secondaryColorB: #78DCC8;
//$tertiaryColor: #C01270;
$tertiaryColor: #425ECF;
$tertiaryColorA: #8aa0f8;

$ctaColorDark: #253240;

//$txtColor: #0B132B;
$txtColor: #363c46;
$txtColorA: #636a80;


$textLinkColor: $tertiaryColor;

$pageBgColor: #d9e6ec;

$headerFgColor: #788fa8;

//$headerBgColor: #19181D;
$headerBgColor: #121923;

$footerFgColor: #f6f4f2;
$footerBgColor: #121923;


$altColorA: #3c5168bf;

$sanity: #F04939;


// .focusVisibleForDark {
//     outline: #6FFFE9 solid 3px;
// }

$globalSecionPadding: 45px 0 90px 0;
$globalBorderRadiusA: 3px;
$globalBorderRadiusB: 15px;

$globalBoxShadowA: 0px 0px 5px 0px rgba(0, 0, 0, 0.33);
$globalBoxShadowB: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);

$hoverTransition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);