@import "../styles/media-queries";
@import "./hamburgers/hamburgers";

.hamburger:hover,
.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger {
  opacity: 0.7;
  position: relative;
  //display: none;
  //position: fixed;
  //right: 5px;
  //top: 0px;
  z-index: 3002;
  //height: 50px;
  //padding: 13px 0px !important;
  padding: 0 10px;


  .hamburger-box {
    // width: 30px;

    //height: 20px;
    height: 12px;
    width: 30px;
    margin-right: 0px;


    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: 30px;
      height: 2px;
      background-color: #6FFFE9;
      //float: left;

      border-radius: 1.5px;
    }

    .hamburger-inner {
      width: 20px;
      left: 0px;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
      left: 0px;
    }
  }

  .hamburger-label {
    color: #bfbfbf;
    color: #6FFFE9;

    float: left;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    //display: flex;
    margin: 0px 8px 0 0;
  }
}

.hamburger.is-active {

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: #6FFFE9;
  }

  .hamburger-inner {
    width: 30px;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    margin-left: 0px;
  }
}

@include respond-below(sm) {
  .hamburger {
    display: block;
  }
}