@import "src/styles/scss";

.fillBground {
  transition: all 0.2s !important;
  background-color: $headerBgColor !important;
}

header.headerNavWrapper {
  display: flex !important;
  position: fixed;
  flex-direction: row;
  //border-bottom: 1px solid #ffffff5a;
  //justify-content: space-between;
  //justify-content: flex-end;

  //background-color: $headerBgColor;
  background-color: transparent;
  width: 100%;
  z-index: 100000;
  transition: all 0.4s;
  /* Transition effect when sliding down (and up) */
  // background-color: #ffffff;
  height: 60px;

  a {
    margin: 0;
    display: flex;
    z-index: 1003;

    span {
      display: none;
    }

    svg {
      padding: 15px;
      height: 60px;
      width: auto;
    }
  }

  nav.header-nav {
    z-index: 1001;
    min-width: 130px;
    //background-color: $headerBgColor;
    transition: all 0.4s;

    button {
      position: absolute;
      align-self: center;
      padding: 5px 15px;
      height: 60px;
      right: 15px;
      border: none;
      align-self: center;
      cursor: pointer;
      padding-right: 0px;
    }

    ul {
      display: none;
      // visibility: hidden;
    }
  }

  nav.header-nav.open {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100vh;
    max-width: 100%;
    border: none;

    ul {
      display: block;
      // visibility: visible;
      list-style: none;
      padding: 0 0 0 0px;
      margin: 0 0 0 auto;
      top: 60px;
      position: relative;
      right: 15px;
      width: fit-content;
      border-left: 1px solid #6FFFE9;

      li {
        clear: both;


        a,
        p,
        span,
        button {

          background-color: transparent;
          font-size: 1.4rem;
          line-height: 1.2rem;
          height: auto;
          right: auto;
          color: #ffffff;
          opacity: .85;
          padding: 10px 0 10px 30px;
          position: relative;
          width: fit-content;
          text-align: left;
          //float: left;
          display: block;
          cursor: pointer;
        }

        svg {
          padding: 0;
          margin: 0 0 -1px 8px;
          height: 1.1rem;
          width: auto;
        }

        a:hover,
        span:hover {
          text-decoration: none !important;
        }

        a:after,
        button:after {
          content: '';
          position: absolute;
          bottom: 0px;
          display: block;
          background: $primaryColor;
          border-radius: 1.5px;
          background: #6FFFE9;
          height: 1px;
          width: 0;
          left: 0px;
          transition: width 150ms ease-in-out;
        }

        a:hover:after,
        button:hover:after {
          width: 100%;
        }
      }

      li.breakNav {
        margin-bottom: 30px;
      }

      li.status {
        padding-top: 30px;
      }
    }

    div {
      clear: right;
      width: auto;
      direction: ltr;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;

      svg {
        height: 60px;
        width: auto;
        margin: 0 0 15px 15px;
      }
    }
  }
}