@import "src/styles/scss";

.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
}

.content {
    flex-grow: 1;
    //flex-direction: column;


    main {
        flex-wrap: wrap;
        //  justify-content: center;
        margin: 0;
        position: relative;

        .modalContent {
            display: block;
            background-color: #ffffff;

            .wrapper {
                display: block;
                padding: 0;

                p:nth-child(1) {
                    @include homePageTitle;
                }
            }
        }
    }
}

.defaultSection {
    max-width: 992px;
    //  margin: 0 auto;
    margin: 60px auto 0 auto;
    padding: 60px 15px 60px 15px;

    @include respond-below(sm) {
        padding: 60px 15px 15px 15px
    }
}