@import "src/styles/scss";

.listFilter {
    padding: $globalSecionPadding;
    padding: 15px 0 0 0;
    margin-top: 60px !important;

    @include respond-below(lg) {
        padding: 7.5px 0 15px 0;
    }

    .filterLabel {
        position: absolute;
        width: auto;
        top: 18px;
        left: 45px;
        right: 60px;
        z-index: 1;

        @include respond-below(md) {
            left: 30px;
            right: 60px;
        }

        color: #0B132B;
        background-color: transparent;
        font-weight: 400;
        font-size: 1.0rem;
        line-height: 1.0rem;
        transition: top .015s;
        transition-delay: 0s;
        white-space: nowrap;
        overflow: hidden;
    }


    div.wrapper {
        max-width: 1200px;
        margin: 0 auto;

        .filterInput {
            padding: 15px 30px 0;
            position: relative;
            margin-top: 10px;

            padding: 15px 30px 0;

            @include respond-below(md) {
                padding: 15px 15px 0;
            }

            @include respond-below(sm) {
                padding: 15px 15px 0;
            }

            @include respond-below(xs) {
                padding: 15px 15px 0;
            }

            input[type=search] {
                color: #0B132B;
                z-index: 2;

                background-color: #ffffff;
                padding: 15px 60px 15px 15px;

                @include respond-below(md) {
                    padding: 15px 30px 15px 15px;
                }

                border: none !important;
                font-size: 1.1rem;
                line-height: 1.0rem;
                font-weight: 500;
                //border-bottom: 2px solid #0B132B !important;
                border-radius: 3px;

            }


            input[type=search]:focus {
                transition: background-color .25s linear;
                color: $headerBgColor;
                background-color: #ffffff;
                outline: none;

            }

            input[type=search]:focus-visible {
                @include focusVisibleForDark;
            }

            input[type=search]:-moz-focusring {
                @include focusVisibleForDark;
            }


            input[type=search]::placeholder {
                color: transparent;
            }

            input[type=search]::-webkit-input-placeholder {
                color: transparent;
            }




            button.filterReset,
            .filterSearchIcon,
            .filterSearchIconAlt {
                position: absolute;
                top: 28px;
                right: 45px;

                @include respond-below(md) {
                    right: 30px;
                }


                background-color: transparent;
                padding: 0;
                border: none;
                z-index: 10000;
                cursor: pointer;
                height: 26px;
                width: auto;


                svg {
                    height: inherit;
                    width: auto;
                }
            }

            .filterSearchIcon,
            .filterSearchIconAlt {
                pointer-events: none;
            }

            button.filterReset.hide,
            .filterSearchIcon.hide,
            .filterSearchIconAlt.hide {
                display: none;

            }

            button:focus {
                outline: none;
            }


            /* Optional: Customize .focus-visible */
            button:focus-visible {
                @include focusVisibleForDark;
            }

            button:-moz-focusring {
                @include focusVisibleForDark;
            }




            span {
                text-align: center;
                display: block;
                font-size: 1.1rem;
                margin: 10px 30px 0;

            }
        }

        .filterTags {
            margin: 0 30px 0px;

            @include respond-below(md) {
                margin: 0 15px;
            }

            @include respond-below(sm) {
                margin: 0 15px;
            }

            @include respond-below(xs) {
                margin: 0 15px;
            }


            >div {
                width: auto;
                margin: 0px 0 0 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                button {
                    font-size: .9rem;
                    line-height: .9rem;
                    width: auto;
                    display: flex;
                    margin: 4px;
                    background-color: #627984;
                    color: #ffffff;

                    box-shadow: $globalBoxShadowB;
                    border: none;
                    padding: 6px 9px;
                    border-radius: 999em;
                    border-radius: .2rem;
                    cursor: pointer;

                    span {
                        pointer-events: none;
                        align-self: center;
                    }

                    span:nth-child(1) {
                        display: flex;

                        svg {
                            align-self: center;
                            height: .8rem;
                            height: auto;
                            width: 14px;
                            margin: 0px 5px 0px -2px;
                        }
                    }

                    span:nth-child(2) {
                        font-size: .7rem;
                        text-align: center;
                        font-weight: 600;
                        margin: 0 -2px 0 5px;
                        border-radius: 999rem;
                        background-color: #495c65;
                        padding: 0px 5px;
                    }
                }

                button:hover {
                    // box-shadow: $globalBoxShadowA;
                    //border: 1px solid $headerBgColor;
                }

                button:focus {
                    outline: none;
                }

                /* Optional: Customize .focus-visible */
                button:focus-visible {
                    @include focusVisibleForDark;
                }

                button:-moz-focusring {
                    @include focusVisibleForDark;
                }
            }
        }
    }
}