@import "src/styles/scss";

.footer {
  position: relative;
  color: #f6f4f2;
  padding: 60px 60px 60px 60px;
  background-color: $footerBgColor;
  text-align: center;
  z-index: 1;

  a {
    z-index: 100 !important;
    position: relative;
  }

  svg {
    width: auto;
    height: 30px;
  }

  p {
    font-size: .9rem;
    color: $footerFgColor;
    color: #ffffff;
    margin-bottom: 10px;
    z-index: 100 !important;
    position: relative;
  }

  p.copyRight {
    //color: $primaryColorMinContrast;
    color: #7381AB;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 30px 0;

      li {
        margin: 5px 0;

        a {
          color: #ffffff;
          font-size: .9rem;
        }


        a:focus {
          outline: none;
        }

        /* Optional: Customize .focus-visible */
        a:focus-visible {
          @include focusVisibleForDark;
        }

        a:-moz-focusring {
          @include focusVisibleForDark;
        }

      }
    }
  }

  .sanity {
    display: inline-flex;
    margin: 30px 0 0;
    color: unset;

    svg {
      height: 20px;
      width: auto;
      //fill: $footerFgColor;
      color: #7381AB;
      color: #ffffff;
      //color: $sanity;
    }
  }
}