@import "src/styles/scss";


header.headerNavWrapper.hide {
  // will-change: transform;
  // transition: translate 1.4s;
  transform: translate(0, -61px);
}

header.headerNavWrapper {
  display: flex !important;
  position: fixed;
  flex-direction: row;
  width: 100%;
  z-index: 100000;
  will-change: transform;
  // transition: all 0.4s;
  // transform: translate(0, 0);
  transition: all .4s;
  height: 60px;




  nav.headerNav {
    z-index: 1001;
    min-width: 130px;
    //background-color: $headerBgColor;
    background-color: #0b132b00;
    transition: all 0.4s;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;



    a.brand,
    span.brand {
      order: 0;

      @include respond-below(sm) {
        order: 1;
        margin: 0 auto;
        position: relative;
      }

      margin: 0 0 0 0px;
      z-index: 1003;
      //left: 60px;

      span {
        display: none;
      }

      svg {
        padding: 10px 15px;
        height: 60px;
        width: auto;
      }
    }

    a.brand.homePage {
      @include respond-below(sm) {
        display: none;
      }
    }

    a:focus {
      outline: none;
    }

    a:focus-visible {
      @include focusVisibleForDark;
    }

    a:-moz-focusring {
      @include focusVisibleForDark;
    }

    button {
      order: 0;

      @include respond-below(sm) {
        order: 0;
      }

      display: none;
      justify-self: flex-start;
      align-content: flex-start;
      margin: 0 0 auto 0;
      width: fit-content;
      white-space: nowrap;

      @include respond-below(sm) {
        display: block;
      }

      align-self: center;
      padding: 2px 15px;
      height: 60px;
      background-color: $headerBgColor;
      border: none;
      align-self: center;
      cursor: pointer;
    }

    button:focus {
      outline: none;
    }

    button:focus-visible {
      @include focusVisibleForDark;
    }

    button:-moz-focusring {
      @include focusVisibleForDark;
    }


    //Mobile view
    >ul {
      // order: 2;
      justify-self: start;
      display: none;
      list-style: none;
      padding: 0 0 0 0;
      margin: 0 auto;
      top: 72px;
      position: relative;
      width: 100%;
      border-left: 1px solid #6FFFE9;
      overflow: scroll;

      li {
        display: block;
        clear: both;
        margin-bottom: 15px;

        a,
        p,
        span,
        button {

          background-color: transparent;
          font-size: 1.4rem;
          line-height: 1.2rem;
          height: auto;
          right: auto;
          //color: $primaryColor;
          color: #ffffff;
          //opacity: .85;
          padding: 10px 30px;
          margin-left: 3px;
          position: relative;
          width: fit-content;
          text-align: left;
          //float: left;
          display: block;
          cursor: pointer;
        }

        svg {
          padding: 0;
          margin: 0 0 0px 15px;
          height: 1.1rem;
          width: auto;
          vertical-align: middle;
        }

        a:hover,
        span:hover {
          text-decoration: none !important;
        }

        a:after,
        span:after,
        button:after {
          content: '';
          position: absolute;
          bottom: 0px;
          display: block;
          border-radius: 1.5px;
          background: #6fffe9;
          height: 1px;
          width: 0;
          left: -3px;
          transition: width 150ms ease-in-out;
        }

        a:hover:after,
        span:hover:after,
        button:hover:after {
          width: 100%;
        }

        a:focus,
        span:focus,
        button:focus {
          outline: none;
        }

        button:focus {
          outline: none;
        }

        /* Optional: Customize .focus-visible */
        a:focus-visible {
          @include focusVisibleForDark;
        }

        span:focus-visible {
          @include focusVisibleForDark;
        }

        button:focus-visible {
          @include focusVisibleForDark;
        }

        a:-moz-focusring {
          @include focusVisibleForDark;
        }

        span:-moz-focusring {
          @include focusVisibleForDark;
        }

        button:-moz-focusring {
          @include focusVisibleForDark;
        }



      }

      li.hide {
        display: block;
      }

      li.breakNav {
        margin-top: 30px;
      }
    }

    //Desktop view
    @include respond-above(sm) {
      >ul {
        //display: flex;
        //  justify-self: center;
        //order: 2;
        display: block;
        border-left: none;
        margin: 0 auto;
        padding: 12px 0;
        top: 0;
        left: 0;
        width: auto;
        overflow: visible;

        li {
          clear: none;
          float: left;
          margin: 0px;

          a {
            float: left;
            right: 0;
            font-size: .8rem;
            line-height: inherit;
            //font-size: 1.5rem;
            font-weight: 500;
            padding: 5px 15px 5px 15px;
            text-transform: uppercase;
          }

          a.activeNavItem {
            color: $headerBgColor;
            background: #6fffe9;
            border-radius: 3px;
            overflow: hidden;
          }

          a:after,
          button:after {
            content: '';

            left: 50%;
            transition: all 150ms ease-in-out;
          }

          a:hover:after,
          button:hover:after {
            width: 100%;
            left: 0px;
          }
        }

        li.hide {
          display: none;
        }
      }
    }
  }

  nav.open {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100vh;
    max-width: 100%;
    border: none;
    background: $headerBgColor;

    >a {
      display: none;
    }

    ul {
      display: block;
    }

    div.localeSeletor {
      display: none;
    }
  }

  div.localeSeletor {
    order: 2;
    //background-color: $headerBgColor;
    // border-radius: 3px;

    @include respond-below(sm) {
      order: 2;
    }

    height: fit-content;
    width: max-content;
    justify-self: flex-end;
    margin: 10px 0 10px;


    span,
    a {
      font-size: .8rem;
      float: right;
      color: #ffffff;
      display: flex;
      align-self: center;

      padding: 8px 15px;
      cursor: pointer;
      text-transform: uppercase;

      svg {
        height: 22px;
        width: auto;
        padding: 0x;
        margin: 0 0 0 10px;
        //transform: rotate(0);
        transition: transform .15s linear;
        vertical-align: middle;
        //transform-style: preserve-3d;
      }

      svg.open {
        //transform: rotate(90deg);
      }
    }

    span:focus {
      outline: none;
    }

    span:focus-visible,
    a:focus-visible {
      @include focusVisibleForDark;
    }

    span:-moz-focusring,
    a:-moz-focusring {
      @include focusVisibleForDark;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      float: right;
      clear: both;
      //visibility: hidden;
      display: none;
      position: relative;
      width: 100%;

      li {
        float: right;
        clear: both;
        // margin: 0 32px 0 0;

        a {
          padding: 5px 32px 5px 15px;
          margin: 0;
          width: 100%;
          text-align: right;
          cursor: pointer;
        }
      }
    }

    ul.show {
      //visibility: visible;
      display: block;
    }
  }

  div.localeSeletor.bground {
    background-color: $headerBgColor;
  }
}


header.headerNavWrapper::before {
  content: "";
  background-color: $headerBgColor;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  will-change: transform;
  transition: opacity 0.4s;
  transition-timing-function: ease-in;
}

header.headerNavWrapper.fillBground::before {
  opacity: 1;
  box-shadow: $globalBoxShadowA;

}

header.headerNavWrapper.fillBgroundQuick::before {
  opacity: 1;
  transition: opacity 0s;
  box-shadow: $globalBoxShadowA;
}