@import "src/styles/scss";

.wrapper {
    z-index: 100;
    transition: all .25s linear;
    position: sticky;
    padding: 15px 0 15px 0;
    background-color: $pageBgColor;
    top: 60px;
    will-change: transform;
    transition: all .4s;
    border-bottom: 1px solid #c1d1d8;
    box-shadow: $globalBoxShadowB;


    nav {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;

        @include respond-below(md) {
            width: 100%;
            position: relative;
            top: 0px;
        }

        div {
            display: flex;
            align-items: center;
            flex-basis: 100%;

            @include respond-below(md) {
                flex-basis: 100%;
            }

            button,
            a {
                display: inline-flex;
                align-items: center;
                margin: 0 5px 0 0;
                padding: 0;
                border: none;
                outline: none;
                background-color: transparent;
                color: $txtColor;
                text-transform: uppercase;
                font-size: .7rem;
                cursor: pointer;
            }

            .alignRight {
                display: flex;
                align-items: center;
                margin: 0 0 0 auto;

                button:last-child,
                a:last-child {
                    margin: 0 0 0 5px;
                }

            }

            button:hover,
            a:hover {
                outline: none;
                color: $tertiaryColor;
                text-decoration: none;

                i {
                    color: inherit;
                }
            }

            button:focus,
            a:focus {
                outline: none;
            }

            button:focus-visible,
            a:focus-visible {
                @include focusVisibleForDark;
            }

            button:focus,
            a:-moz-focusring {
                @include focusVisibleForDark;
            }
        }
    }
}