@import "src/styles/scss";

.form {
    padding-bottom: 30px;

    p {
        margin: 14px 0;
        line-height: 1.3rem;
        font-weight: bold;
    }

    form {

        label,
        a {
            color: $txtColor;
            font-size: .9rem;
        }

        a {
            color: $tertiaryColor;
            cursor: pointer;
        }

        a:hover {
            text-decoration: underline;

        }

        input,
        textarea {
            background-color: $pageBgColor;
            outline: none;
            border: 1px solid #c1d1d8;
        }

        button {
            margin: 15px 0;
        }
    }
}